.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.fadeOut {
  opacity: 0;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(5, 80px); /* Ajusta el número de columnas y el ancho de los libros */
  grid-gap: 10px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background: linear-gradient(to bottom, #4A3B2A, #8B4513); /* Simula la madera de la estantería */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.book {
  height: 180px; /* Ajusta la altura de los libros */
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajusta la distribución del contenido */
  overflow: hidden; /* Evita que el contenido se desborde */
}

/* Variedad de diseños de libros */
.book:nth-child(even) {
  background: linear-gradient(to bottom, #A0522D, #CD853F);
}

.book:nth-child(odd) {
  background: linear-gradient(to bottom, #6B8E23, #556B2F);
}

.book:nth-child(3n) {
  background: linear-gradient(to bottom, #800000, #B22222);
}

.book:nth-child(5n) {
  background: linear-gradient(to bottom, #008080, #20B2AA);
}

.book:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.book:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 10px;
  height: calc(100% - 20px);
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.loadingText {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 20px;
  letter-spacing: 2px;
  color: white;
}